::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #909399;
  border-radius: 10px;
  box-shadow: inset 0 0 0 rgb(0 158 255 / 46%);
}
